/*Внешний вид общий*/
.menu {
    list-style-type: none;
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 0px;
}

.menu li a {
    color: black;
}

.menu li a:hover {
    color: red;
}

body {
    background-color: #f8f8f8;
}

/* Внешний вид contact.html*/

.conlink {
    color: black;
    text-transform: uppercase;
}

.Email:focus {
    color: red;
    background-color: brown;
}

input,
textarea {
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    font-size: 24px;
    color: black;
}

input,
textarea:enabled {
    text-transform: capitalize;
}

/* Внешний вид Каталога*/

.catalogIMG {
    outline: 3px solid red;
}

.catalogIMG:hover {
    outline: none;
}

/* Внешний вид Index.html*/
.ShopPhoto {
    display: block;
    margin: 10px auto 10px;
}

#CpRight {
    text-align: center;
    font-size: 12px;
}

.headName {
    text-align: center;
    font-size: 36px;
}

.shopDesc {
    font-size: 25px;
    text-align: center;
}

/* Внешний вид товаров */

.heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;

}

img[alt="ноутбук InfinityEdge M15"] {
    display: block;
    margin: 10px auto 10px;
}

.Product p::first-letter {
    color: red;
    font-size: 20px;
}

.productDesc {
    text-align: center;
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.productName {
    text-align: center;
}

.stats {
    text-decoration: underline;
    font-weight: bolder;
    font-size: 16px;
    list-style-type: lower-greek;
}

.productTable {
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

.productTable td {
    border: 1px solid #000;
}

.productTable tr {
    height: 100px;
    width: 100px;
}

.productfooter {
    display: flex;
    justify-content: center;
}